#img_titre{
    background-image: url("./image/meeting.jpg");
    background-size: cover;
    height: 80vh;
}

#fin{
    background-image: url("./image/writh.jpg");
    background-size: cover;
    height: 30vh;
    margin-top: 20vh;
}

.media_1{
    margin-top: 60vh;
}

hr{
    width: 50%;
    border-width: 60px;
}
@import "~bootstrap/scss/bootstrap";